@use '../../scss/breakpoint' as *;

.movie-list {
    .wiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}